<h1>Sign Up</h1>

<%= form_with model: @user, local: true, builder: BootstrapFormBuilder do |form| %>
  <%= form.group :name do %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.errors :name %>
  <% end %>

  <%= form.group :email do %>
    <%= form.label :email %>
    <%= form.email_field :email %>
    <%= form.errors :email %>
  <% end %>

  <%= form.group :password do %>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.errors :password %>
  <% end %>

  <%= form.group :password_confirmation do %>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
    <%= form.errors :password_confirmation %>
  <% end %>

  <%= form.submit "Sign Up", class: "btn btn-primary" %>
<% end %>
